body {
	background-image: url("background-image-5.jpg");
	background-size: 100% 100%;
}

header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}

nav {
	line-height:30px;
	background-color:#eeeeee;
	height:787px;
	width:100px;
	float:left;
	padding:5px;
	font-size: 1.3em;
}

section {
	width:900px;
	float:left;
	padding:20px;
	margin-left: 80px;
}

footer {
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;
}

.centru {
	text-align:center;
}

#buton {
	border: 6px ridge black;
	margin-top: 60px;
	margin-left: 370px;
	margin-right: 370px;
}

#introducere-paragraf {
	border: 6px outset black;
	padding: 10px;
	margin-bottom: 60px;
	margin-top: 60px;
}