body {
	background-image: url("background-image-5.jpg");
	background-size: 100% 100%;
}

header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}

nav {
	line-height:30px;
	background-color:#eeeeee;
	height:300px;
	width:100px;
	float:left;
	padding:5px;
	font-size: 1.3em;
}

section {
	width:350px;
	float:left;
	padding:10px;
	text-align:center;
}

footer {
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;
}